*.Designer.cs
/.vs/RESTClient .Net/v14/.suo/
/NuGet/Exported/
bin/
obj/
packages/
/.vs/restore.dg
/RESTClientDotNet.Net/.vs
/CF.RESTClientDotNet.Net/.vs/*.dg
*.suo
.vs
*.pdb
*.dll
project.fragment.lock.json
project.lock.json
