	*.Designer.cs
*.csproj.user
/.vs/RESTClient .Net/v14/.suo/
/NuGet/Exported/
bin/
obj/
packages/
.sonarqube/
/.vs/restore.dg
/RESTClientDotNet.Net/.vs
/CF.RESTClientDotNet.Net/.vs/*.dg
*.suo
.vs
*.pdb
*.dll
project.fragment.lock.json
project.lock.json
*.CodeAnalysisLog.xml
*.lastcodeanalysissucceeded

src/.idea/*

*.user

src/RestClient.Net.Abstractions/RestClient.Net.Abstractions.xml

src/RestClient.Net/RestClient.Net.xml

.ionide/
