bin/
obj/
.DS_Store

.idea/.idea.RestClient/.idea/

RestClient.sln.DotSettings.user

RestClient.Net.CsTest/TestResults/

coverage/
coverage.cobertura.xml


final-check/
test-output-final
nupkgs/

# Website
Website/node_modules/
Website/_site/
Website/package-lock.json
Website/playwright-report/
Website/test-results/
Website/src/api/
