---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in collections.publicPages %}<url><loc>{{ entry.url | absoluteUrl | xmlEscape }}</loc></url>
{% endfor %}</urlset>
