name: buildandtest

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
 
jobs:
  build:
    runs-on: windows-latest


    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core SDK 3.1
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 3.1.x

      - name: Setup .NET Core SDK 5
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 5.0.x

      - name: Setup .NET Core SDK 6
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      - name: Setup .NET Core SDK 7
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 7.0.x

      - name: Install dependencies
        run: dotnet restore src/RestClient.Net.sln

      - name: Build
        run: dotnet build src/RestClient.Net.sln --no-restore

      - name: Test on .NET Core 3.1
        run: dotnet test src/RestClient.Net.UnitTests --no-build --verbosity normal --framework nercoreapp3.1

      - name: Test on .NET 5
        run: dotnet test src/RestClient.Net.UnitTests --no-build --verbosity normal --framework net5.0

      - name: Test on .NET 6
        run: dotnet test src/RestClient.Net.UnitTests --no-build --verbosity normal --framework net6.0

      - name: Test on .NET 7
        run: dotnet test src/RestClient.Net.UnitTests --no-build --verbosity normal --framework net7.0        
